* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
    font-family: arial;
    background: #fffde7;
}

body, a {
    color: #414141;
}

a {
    cursor: pointer;
    text-decoration: none;
}

#restart {
    text-align: center;
    margin-left: 10px;
}

#board {
    border: 2px solid;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
}
#counter {
    margin-top: 10px;
    text-align: center;
}

.cell {
    cursor: pointer;
    width: 32px;
    height: 32px;
}
#board tr:nth-child(odd) [class="cell"]:nth-child(odd) {
    background: #f1f8e9;
}
#board tr:nth-child(odd) [class="cell"]:nth-child(even) {
    background: #dcedc8;
}

#board tr:nth-child(even) [class="cell"]:nth-child(odd) {
    background: #dcedc8;
}
#board tr:nth-child(even) [class="cell"]:nth-child(even) {
    background: #f1f8e9;
}

.cl1 {background: #2ecc71;}
.cl2 {background: #3498db;}
.cl3 {background: #9b59b6;}
.cl4 {background: #f1c40f;}
.cl5 {background: #d35400;}
.cl6 {background: #c0392b;}
.cl7 {background: #34495e;}
.cl8 {background: #7f8c8d;}

#counter {
    font-size: 24px;
    text-align: center;
}
