* {
    margin: 0;
    padding: 0;
}

body, a, .mod {
    font: 16px/1.3 Times, sans-serif;
    color: #222;
}

.content {
    margin: 0 auto;
    max-width: 160mm;
    padding: 1em;
}

.mods, .units {
    list-style: none;
}

.rules {
    padding-left: 1em;
}

#rolldice {
    background: #fff;
    border: 1px solid #aaa;
    padding: .5rem;
    font-size: 1em;
    cursor: pointer;
    border-radius: .2em;
    text-align: center;
    min-width: 8em;
}

#rolldice:active {
    position: relative;
    top: .1em;
}

.dice {
    font-size: 2em;
}

.roll-true {
    border-color: #22c !important;
    color: #22c;
}

.roll-false {
    border-color: #c22 !important;
    color: #c22;
}

p {
    margin-bottom: .33em;
}

h1 {font-size: 1.8em;}
h2 {font-size: 1.4em;}
h3 {font-size: 1.2em;}

h1, h2, h3 {
    margin: .5em 0 .25em;
}

[title] {
    cursor: help;
    background: rgba(0, 100, 0, .1);
}
